---
import { socialMediaIcons } from '../../assets/social/util';
import { aboutMe } from '../../data/aboutMe';
---

<section id="about" class="w-full p-4 flex flex-col border border-primary rounded-[10px]">
  <h2 class="-translate-y-12 bg-[var(--background-color)] px-4 py-2 w-fit">
    À propos de moi
  </h2>

  <article
    class="flex gap-[29px] p-5 max-w-[800px] mx-auto rounded-[15px] bg-primary-dark
           flex-wrap flex-col items-center md:flex-row md:flex-nowrap md:items-start"
  >
    <!-- Profile + socials -->
    <div class="flex flex-col items-center gap-4 w-full p-[10px]">
      <picture class="overflow-hidden max-w-[250px] border-2 border-primary rounded-[30px]">
        <img
          src={aboutMe.profile.picture}
          alt={aboutMe.profile.altText}
          loading="lazy"
          width="200"
          height="200"
        />
      </picture>

      <div class="flex gap-4">
        {
          Object.entries(aboutMe.socialMedia).map(([key, value]) => {
            const IconComponent = socialMediaIcons[key as keyof typeof socialMediaIcons];
            return (
              <a
                href={value}
                target="_blank"
                rel="noopener noreferrer"
                class="text-white transition-colors duration-200 hover:text-primary relative group"
              >
                <IconComponent width={40} height={40} />
                <span class="sr-only absolute right-[-20px] bottom-[-16px] opacity-0 group-hover:opacity-100 group-hover:bg-secondary group-hover:underline group-hover:px-[5px] transition-opacity duration-200">
                  {key}
                </span>
              </a>
            );
          })
        }
      </div>
    </div>

    <!-- Bio -->
    <div class="flex flex-col gap-4">
      <h3 class="text-[var(--text-color)]">{aboutMe.name}</h3>
      {aboutMe.bio.paragraphs.map((paragraph) => <p class="text-[var(--text-color)]">{paragraph}</p>)}
    </div>
  </article>
</section>
